$color-primary: #20b64d;

// This automatically generates a full color palette for the site based on the primary color
// You can edit these if you want, but these are meant to be sane defaults
$color-primary-light-1: desaturate(lighten($color-primary, 13.5%), 10%);
$color-primary-light-2: desaturate(lighten($color-primary, 25%), 8%);
$color-primary-dark-1: saturate(darken($color-primary, 12.5%), 6%);
$color-primary-dark-2: saturate(darken($color-primary, 19%), 10%);

$color-secondary: #f6472b;
$color-secondary-light-1: desaturate(lighten($color-secondary, 13.5%), 10%);
$color-secondary-light-2: desaturate(lighten($color-secondary, 25%), 8%);
$color-secondary-dark-1: saturate(darken($color-secondary, 12.5%), 6%);
$color-secondary-dark-2: saturate(darken($color-secondary, 19%), 10%);

$color-black: #242424;
$color-gray-dark: #717171;
$color-gray: #a8a8a8;
$color-gray-light: #ddd;
$color-white: #fff;

// Font stacks for easier changes
$sans: 'Futura', 'Lato', 'Trebuchet MS', Arial, sans-serif;
$serif: 'Georgia', 'Times New Roman', serif;

// Measurements for absolute positioning
$footer-height: 4rem;
$social-icon-size: 2.4rem;

$end-of-content-margin: $footer-height + $social-icon-size;
