html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

img {
  max-width: 100%; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

i,
em,
dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

mark {
  background-color: #fdffb6; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible;
  border: none; }

button,
select {
  text-transform: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input:focus {
  outline: none; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */ }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

textarea {
  overflow: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 4rem; }

img {
  width: 100%; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem; }

p,
pre,
code {
  line-height: 2.6rem; }

ol,
ul {
  margin-left: 4rem;
  margin-bottom: 2rem;
  list-style: none; }

ol {
  counter-reset: li; }

li {
  counter-increment: li; }

li::before {
  color: #20b64d;
  display: inline-block;
  width: 1.6rem; }

ul > li::before {
  content: '\2022';
  margin-left: -0.8rem; }

ol > li::before {
  content: counter(li);
  margin-left: -1.6rem;
  margin-right: 0.8rem;
  text-align: right;
  direction: rtl; }

hr {
  margin-bottom: 2rem; }

blockquote {
  padding-left: 2rem;
  border-left: 0.4rem solid #20b64d; }

pre {
  font-size: 1.6rem;
  margin: 0 4rem 2rem; }

code {
  color: #f6472b;
  background-color: #ddd;
  border-radius: 3px;
  padding: 2px;
  margin: 0 0.2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

pre,
code {
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal; }

pre > code[class*='language-'] {
  border: none; }

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #ddd; }

a,
a:link,
a:visited {
  color: #20b64d; }

mark,
*::selection {
  background: #20b64d;
  color: #fff;
  line-height: 2.6rem; }

body {
  color: #242424; }

h1 {
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 5.1rem;
  text-transform: none;
  margin: 0 0 2.3rem 0;
  letter-spacing: 1px; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 4rem;
      line-height: 4.4rem; } }

h2 {
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 0 2.3rem 0;
  letter-spacing: 1px;
  text-transform: none;
  color: #20b64d; }

h3 {
  font-size: 2rem;
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  color: #20b64d; }

h4,
h5,
h6 {
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  font-style: italic;
  text-transform: none;
  color: #20b64d;
  font-size: 1.8rem; }

p {
  margin: 0 0 2.3rem 0; }

li {
  margin: 0 0 1rem 0; }

p,
li {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }
  @media only screen and (max-width: 37.5em) {
    p,
    li {
      font-size: 1.8rem; } }

small {
  font-size: 1.4rem; }

.post-list {
  width: 65%;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .post-list {
      width: 70%; } }
  @media only screen and (max-width: 56.25em) {
    .post-list {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .post-list {
      width: 95%; } }

.post {
  margin: 0 auto;
  width: 60%; }
  @media only screen and (max-width: 56.25em) {
    .post {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .post {
      width: 90%; } }
  .post__header {
    margin: 0 auto 2rem;
    text-align: center;
    color: #20b64d;
    letter-spacing: 2px;
    width: 80%;
    line-height: 4.2rem; }
    .post__header-text {
      margin-bottom: 0; }
  .post__meta {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
    color: #a8a8a8;
    font-weight: 400;
    font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .post__meta {
        font-size: 1.6rem; } }
  .post__main {
    width: 100%; }
  .post__image {
    height: 40rem;
    background-size: cover;
    background-position: top;
    margin: 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .post__image {
        height: 30rem; } }
  .post__content--no-img {
    margin-top: 4rem; }
  .post__nav {
    display: inline;
    padding: 2rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase; }
    .post__nav--item {
      flex-grow: 1;
      margin: 0 0.4rem 1rem; }
    .post__nav--next {
      text-align: left; }
    .post__nav--prev {
      text-align: right; }

.blog-page {
  margin: 0 auto;
  width: 60%; }
  .blog-page__main {
    width: 100%;
    margin-bottom: 10.4rem; }
  .blog-page__image {
    height: 40rem;
    background-size: cover;
    background-position: top;
    margin: 0 0 2rem; }
  .blog-page__content--no-img {
    margin-top: 4rem; }

.post-card {
  padding: 2rem 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .post-card {
      flex-direction: column; }
      .post-card:not(:last-child) {
        border-bottom: 1px solid #20b64d; } }
  .post-card__container {
    border-left: 0.4rem solid #20b64d;
    padding: 2.2rem 3rem 0.8rem;
    hyphens: auto;
    overflow-wrap: break-word;
    max-width: 100%;
    background-color: rgba(186, 248, 204, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .post-card__container {
        border-left: 0.3rem solid #20b64d;
        padding-left: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .post-card__container {
        border-left: none;
        padding: 1.8rem 2.4rem 0; } }
  .post-card__content {
    display: inline; }
    .post-card__content a {
      text-decoration: none; }
  .post-card__excerpt {
    color: #242424;
    word-break: break-word; }
  .post-card__title {
    font-size: 3.6rem; }
    @media only screen and (max-width: 37.5em) {
      .post-card__title {
        font-size: 4rem;
        line-height: 4.2rem; } }
  .post-card__link, .post-card__link:link, .post-card__link:visited {
    color: #20b64d;
    display: inline; }
    .post-card__link:hover, .post-card__link:link:hover, .post-card__link:visited:hover {
      color: #128434; }
    @media only screen and (max-width: 37.5em) {
      .post-card__link, .post-card__link:link, .post-card__link:visited {
        display: none; } }
  .post-card__read-more {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .post-card__read-more {
        display: flex;
        justify-content: right;
        margin-bottom: 2rem; } }
    .post-card__read-more__button, .post-card__read-more__button:link, .post-card__read-more__button:visited {
      font-size: 1.6rem;
      flex: 0 1 25%;
      margin: 0 0 0 auto;
      background-color: #20b64d;
      color: #fff;
      padding: 1rem;
      white-space: nowrap;
      font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
      text-transform: uppercase; }

.header__menu {
  width: 100%; }

.header__title {
  background-color: #20b64d;
  position: relative;
  text-align: center;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .header__title {
      padding: 1.8rem 3rem; } }
  .header__title--small {
    padding: 1rem;
    letter-spacing: 0px;
    font-weight: 700; }
  .header__title-link, .header__title-link:link, .header__title-link:visited {
    text-decoration: none; }
  .header__title-text {
    margin-bottom: 0.4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .header__title-text {
        font-size: 5rem; } }
  .header__title-desc {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #baf8cc;
    font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase; }

.header__text {
  text-decoration: none;
  color: #fff; }

.footer {
  display: block;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #20b64d;
  color: #fff;
  padding: 1rem;
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: #fff; }

.nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0; }
  .nav__link {
    list-style: none;
    display: inline-flex;
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    transition: 0.3s all ease; }
    .nav__link:hover {
      background-image: linear-gradient(to bottom, #20b64d 60%, #159b3d); }
      .nav__link:hover a {
        color: #fff; }
    .nav__link::before {
      content: none; }
    .nav__link a {
      text-align: center;
      margin: 0 auto;
      text-decoration: none; }
  .nav__active {
    background-image: linear-gradient(to bottom, #20b64d 65%, #159b3d); }
    .nav__active a {
      color: #fff; }

.pagination {
  width: 60%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .pagination {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .pagination {
      width: 90%; } }
  .pagination__next {
    margin-right: 0rem; }
    @media only screen and (max-width: 37.5em) {
      .pagination__next {
        margin-right: 4rem; } }
  .pagination__prev {
    margin-left: 0rem; }
    @media only screen and (max-width: 37.5em) {
      .pagination__prev {
        margin-left: 4rem; } }
  .pagination__link, .pagination__link:link, .pagination__link:visited {
    font-size: 2rem;
    text-decoration: none;
    background-color: #20b64d;
    color: #fff;
    padding: 0.8rem 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .pagination__link, .pagination__link:link, .pagination__link:visited {
        background-color: #fff;
        color: #20b64d; } }

.contact-form {
  text-align: center;
  padding: 8rem 8rem 2rem; }
  .contact-form textarea {
    resize: none; }
  .contact-form__field, .contact-form__button {
    border: none;
    display: block;
    margin: 0 auto 1rem;
    width: 100%;
    padding: 1rem;
    font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif; }
  .contact-form__field {
    color: #20b64d;
    font-size: 1.8rem;
    transition: 0.4s all ease;
    border: 0.2rem solid #20b64d;
    border-bottom: 0.4rem solid #20b64d;
    font-weight: 400; }
    .contact-form__field:focus {
      background-color: #baf8cc;
      border: 0.2rem solid #baf8cc;
      border-bottom: 0.4rem solid #20b64d; }
    .contact-form__field::placeholder {
      color: #128434; }
    .contact-form__field--email:invalid {
      border-bottom: 0.4rem solid #f6472b; }
    .contact-form__field--body:focus {
      outline: none; }
  .contact-form__button {
    color: #fff;
    background-color: #20b64d;
    font-size: 2rem;
    text-transform: none;
    transition: 0.4s all ease;
    font-weight: 500; }
    .contact-form__button:focus, .contact-form__button:hover {
      background-color: #0c6928;
      outline: none; }

.response-handler {
  height: 10rem;
  transition: 0.4s all ease;
  text-align: center; }

#contact-page-content {
  display: none; }

.tag__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0; }

.tag__item {
  color: #20b64d;
  margin: 0 2rem 1rem 0;
  list-style-type: none;
  border: 2px solid #20b64d;
  padding: 0.4rem 0.8rem;
  transition: 0.2s ease all; }
  .tag__item::before {
    content: none; }
  .tag__item:hover {
    cursor: pointer;
    background-color: #20b64d; }
    .tag__item:hover > a {
      color: #fff; }

.tag__link, .tag__link:link, .tag__link:visited {
  font-family: "Futura", "Lato", "Trebuchet MS", Arial, sans-serif;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 2px; }

@media only screen and (max-width: 37.5em) {
  .tag {
    display: none; } }

.social {
  width: 100%;
  margin: 10rem auto 0;
  display: flex;
  justify-content: space-around;
  font-size: 2.4rem;
  position: absolute;
  bottom: 4rem; }
  .social__button {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    color: #20b64d;
    flex: 1 1 auto;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social__button:hover {
      color: #fff;
      background-image: linear-gradient(to bottom, #20b64d 60%, #159b3d); }
    .social__button__icon {
      display: inline-block; }
  .social--post {
    border-top: 1px solid #20b64d;
    position: relative; }

.hidden {
  display: none; }

.disqus {
  margin-bottom: 4rem; }

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  background: #20b64d;
  color: #fff; }
  div.code-toolbar > .toolbar a:hover,
  div.code-toolbar > .toolbar button:hover,
  div.code-toolbar > .toolbar span:hover {
    background: #128434;
    color: #fff; }
