// Override PrismJS copy button styles
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  background: $color-primary;
  color: $color-white;

  &:hover {
    background: $color-primary-dark-1;
    color: $color-white;
  }
}
