.post-card {
  padding: 2rem 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary;
    }
  }

  &__container {
    border-left: 0.4rem solid $color-primary;
    padding-left: 3rem;
    hyphens: auto;
    overflow-wrap: break-word;
    max-width: 100%;

    @include respond(tablet) {
      border-left: 0.3rem solid $color-primary;
      padding-left: 1.6rem;
    }
    @include respond(phone) {
      border-left: none;
      padding-left: 0;
    }
  }

  &__content {
    display: inline;

    & a {
      text-decoration: none;
    }
  }

  &__excerpt {
    word-break: break-word;
  }

  &__title {
    @include respond(phone) {
      font-size: 4rem;
      line-height: 4.2rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    color: $color-primary;
    display: inline;

    &:hover {
      color: $color-primary-dark-1;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__read-more {
    display: none;

    @include respond(phone) {
      display: flex;
      justify-content: right;
      margin-bottom: 2rem;
    }

    &__button,
    &__button:link,
    &__button:visited {
      font-size: 1.6rem;
      flex: 0 1 25%;
      margin: 0 0 0 auto;
      background-color: $color-primary;
      color: $color-white;
      padding: 1rem;
      white-space: nowrap;

      @include textify;
    }
  }
}
