.tag {
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }
  &__item {
    color: $color-primary;
    margin: 0 2rem 1rem 0;
    list-style-type: none;
    border: 2px solid $color-primary;
    padding: 0.4rem 0.8rem;
    transition: 0.2s ease all;

    &::before {
      content: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-primary;

      & > a {
        color: $color-white;
      }
    }
  }
  &__link,
  &__link:link,
  &__link:visited {
    font-family: $sans;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 2px;
  }

  @include respond(phone) {
    display: none;
  }
}
